@using _19078303Homework4.Models; 
@Model List<Members>

<div>
    <h2>Our members</h2>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type of Member</th>
                <th>Active Volunteer/Organisation</th>
                <th>Description</th>
                <th>Comment </th>
            </tr>

        </thead>
        <tbody>
            @foreach (var members in Model)
            {
                <tr>
                    <th>@members.FullName</th>
                    <th>
                        @if (members.GetType() == typeof(Individuals))
                        {
                            @:Volunteer
                        }
                        else
                        {
                            @:Organisation
                        }
                    </th>
                    <th>
                        @if (members.GetType() == typeof(Individuals))
                        {
                            Individuals persons = (Individuals)members;
                            <span> @persons.Volunteer </span>
                        }
                        else
                        {
                            Organisations companies = (Organisations)members;
                            <span> @companies.Status </span>
                        }
                    </th>
                    <th>@members.Decription()</th>
                    <th>@members.participation()</th>
                </tr>

            }
        </tbody>

    </table> <br />
    <img src="https://serving.photos.photobox.com/477737686fbcf1bdf38d433eb9b4d6621e6725cf89912c01982884be337fbfdea6dc031c.jpg" />
</div>

